<app-profilenav></app-profilenav>
<div class="card-container">
    <img mat-card-image class="example-card" src="https://images.pexels.com/photos/2078774/pexels-photo-2078774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile">
    <div class="overlay">
      <p>Profile</p>
    </div>
<mat-card class="card">
  <div style="overflow-x:auto;">
      <table id="users">
       <tr id="header"><th *ngFor ="let column of header">{{column}}   </th></tr>
    
        <td>{{custprofile['Envelope']['Body']['ZSD_CUST_PROFILEYResponse']['IT_KNA1']['item']['KUNNR']}}        </td>
        <td>{{custprofile['Envelope']['Body']['ZSD_CUST_PROFILEYResponse']['IT_KNA1']['item']['LAND1']}}        </td>
      <td>{{custprofile['Envelope']['Body']['ZSD_CUST_PROFILEYResponse']['IT_KNA1']['item']['ORT01']}}      </td>
      <td>{{custprofile['Envelope']['Body']['ZSD_CUST_PROFILEYResponse']['IT_KNA1']['item']['PSTLZ']}}      </td>
      <td>{{custprofile['Envelope']['Body']['ZSD_CUST_PROFILEYResponse']['IT_KNA1']['item']['TELF1']}}      </td>
      <td>{{custprofile['Envelope']['Body']['ZSD_CUST_PROFILEYResponse']['IT_KNA1']['item']['SORTL']}}      </td>
    
   </table>
  </div>
</mat-card>

</div>