.content-body{
  height:100vh;
  background: #f1f1f1;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,67,129,1) 0%, rgba(194,11,235,1) 0%, rgba(147,59,240,1) 24%, rgba(124,83,242,1) 55%, rgba(0,212,255,1) 100%);   */
  padding: 60px 1rem;
 display: block;
}
