<mat-toolbar color="primary">
  <a class="logo" routerLink="/home"><img src="../../assets/Cust-icon.png" width="150px" height="35px"></a>
  <div class="navitem">
    <a class="nav-link" mat-button routerLink="/dashboard">Inquiry</a>
    <a class="nav-link" mat-button routerLink="/salesorder">Sales order</a>
    <a class="nav-link" mat-button routerLink="/delivery">List of Delivery</a>
  </div>
  <a class="profile nav-link" mat-button routerLink="/profile"><i class="fa-solid fa-user"></i>  Profile</a>
</mat-toolbar>