.mat-toolbar {
  background-color:#0091D5;
 position: fixed;
 display: flex;
 top:0;
 left:0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
   
}

.nav-link{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin-right: 20px;
}

.logo{
  margin-left: 30px;
}

.profile{
  margin-left:auto;
  margin-right: 30px;
}

.navitem{
  display: flex;
  margin-left: 450px;
}

.mat-toolbar > * {
  font-weight: bold;
}
