<mat-toolbar color="primary">
  <a class="logo" routerLink="/home"><img src="../../assets/Cust-icon.png" width="150px" height="35px"></a>
  <div class="navitem">
    <a class="nav-link" mat-button routerLink="/finance">Invoice</a>
    <a class="nav-link" mat-button routerLink="/payments">Payments</a>
    <a class="nav-link" mat-button routerLink="/memo">Credit/Debit </a>
    <a class="nav-link" mat-button routerLink="/sales">Sales data</a>    
  </div>
  <a class="profile nav-link" mat-button routerLink="/profile"><i class="fa-solid fa-user"></i>  Profile</a>
</mat-toolbar>