<app-homenav></app-homenav>
<div class="card-container">
  <mat-card (click)="onCardClick()" class="example-card">
    <img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    <div class="overlay">
    <p>Customer dashboard</p>
  </div>
  </mat-card>
  <mat-card (click)="onCardClick1()"class="example-card">
    <img src="https://images.unsplash.com/photo-1633158829585-23ba8f7c8caf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    <div class="overlay">
    <p>Financial sheet</p>
  </div>
  </mat-card>

</div>
