mat-card {
  /* max-width: 600px; */
  margin: 2em auto;
  text-align: center;
  margin-left:auto;
    margin-right:auto;  
    /* vertical-align:middle; */
    margin-top:0px;
  /* max-height: 800px;
   */
}

.header{
  top: 60px;
  text-align: center;

}
.full-width {
  width: 75%;
}

.button-row {
  padding-top: 0px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.emailInput{
  padding-top: 0px;
}

.contentBody {
  padding: 60px 1rem;
  display: block;
  
}
 

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

.example-card {
    height: 520px;
    width: 420px;
    background-color: rgba(133, 138, 171, 0.441);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
    .example-card *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    }



/* New style */

*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.background{
width: 430px;
height: 520px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
}
.background .shape{
height: 200px;
width: 200px;
position: absolute;
border-radius: 50%;
}
.shape:first-child{
background: linear-gradient(
  #1845ad,
  #23a2f6
);
left: -80px;
top: -80px;
}
.shape:last-child{
background: linear-gradient(
  to right,
  #ff512f,
  #f09819
);
right: -30px;
bottom: -80px;
}

form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
}

label{
display: block;
margin-top: 30px;
font-size: 16px;
font-weight: 500;
text-align:left;
}

.full-width{
  display: block;
height: 55px;
width: 320px;
background-color:rgba(255, 255, 255, 0.537);
border-radius: 3px;
margin-top: 8px;
margin-bottom: 30px;
font-size: 14px;
font-weight: 300;
}


.form-control{
  height: 55px;
  width: 600px;

}
input::placeholder{
color: #4f526e5e;
}
button{
margin-top: 50px;
width: 100%;
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}
