<app-homenav></app-homenav>
<div class="card-container">
  <mat-card (click)="onCardClick()" class="example-card">
    <img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    <div class="overlay">
    <p>Payslip</p>
  </div>
  </mat-card>
  <mat-card (click)="onCardClick1()"class="example-card">
    <img height="433px" src="https://images.unsplash.com/photo-1486571698588-a2204703bec8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80">
    <div class="overlay">
    <p>Leave Details</p>
  </div>
  </mat-card>

</div>
